In [4]:
import pandas as pd
import requests
import json
from tqdm import tqdm

In [21]:
df=pd.read_csv("yelp.csv")

In [22]:
df = df[['text', 'stars']]
df.dropna(inplace=True)

In [23]:

df = df.sample(200, random_state=42)

In [24]:
df.head()

                                                   text  stars
6252  We got here around midnight last Friday... the...      4
4684  Brought a friend from Louisiana here.  She say...      5
1731  Every friday, my dad and I eat here. We order ...      3
4742  My husband and I were really, really disappoin...      1
4521  Love this place!  Was in phoenix 3 weeks for w...      5

In [13]:
GEMINI_API_KEY="AIzaSyBrR_irqdQNojnvJDG6rwPYZM60soU-ovE"

In [16]:
import google.generativeai as genai

genai.configure(api_key=GEMINI_API_KEY)

An error occurred: module 'importlib.metadata' has no attribute 'packages_distributions'

c:\Users\sujal\anaconda3\envs\tf-cpu-env\lib\site-packages\google\api_core\_python_version_support.py:237: FutureWarning: You are using a non-supported Python version (3.9.23). Google will not post any further updates to google.api_core supporting this Python version. Please upgrade to the latest Python version, or at least Python 3.10, and then update google.api_core.
  warnings.warn(message, FutureWarning)
c:\Users\sujal\anaconda3\envs\tf-cpu-env\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
C:\Users\sujal\AppData\Local\Temp\ipykernel_10472\1583712569.py:1: FutureWarning:

All support for the `google.generativeai` package has ended. It will no longer be receiving
updates or bug fixes. Please switch to the `google.genai` package as soon as possible.
See README for more details:

https://github.com/google-gemini/deprecated-generative-ai-python/blob/main/README.md

  import google.generativeai as genai

In [21]:
import google.generativeai as genai

model = genai.GenerativeModel("gemini-2.5-flash")

def call_llm(prompt):
    try:
        response = model.generate_content(prompt)
        # Some versions don't expose .text — print response to inspect
        return getattr(response, "text", str(response))
    except Exception as e:
        print("LLM ERROR:", e)
        return None

In [22]:
with open("prompts/prompt_v1.txt") as f:
    base_prompt = f.read()

sample_review = df.iloc[0]["text"]

final_prompt = base_prompt + sample_review

output = call_llm(final_prompt)
print(output)

```json
{
 "predicted_stars": 4,
 "explanation": "The reviewer had a positive experience with well-made food, friendly service, and quality cocktails. The update also highlights a great patio."
}
```

In [23]:
with open("prompts/prompt_v1.txt") as f:
    base_prompt = f.read()

sample_review = df.iloc[0]["text"]
final_prompt = base_prompt + sample_review

output = call_llm(final_prompt)
print(output)

```json
{
 "predicted_stars": 5,
 "explanation": "The reviewer highlights well-made food, friendly service, quality cocktails, and a great patio, indicating an excellent experience despite the late-night quietness."
}
```

In [24]:
import json

def parse_json(output):
    try:
        return json.loads(output)
    except:
        return None

In [ ]:
import time
results = []

for i, row in df.iterrows():
    prompt = base_prompt + row["text"]

    while True:
        raw = call_llm(prompt)

        # If API returned None because of rate limit, retry
        if raw is None:
            print("Retrying after 25s...")
            time.sleep(25)
            continue
        
        data = parse_json(raw)
        break

    if data is None:
        results.append({
            "true": row["stars"],
            "predicted": None,
            "explanation": "INVALID_JSON"
        })
    else:
        results.append({
            "true": row["stars"],
            "predicted": data["predicted_stars"],
            "explanation": data["explanation"]
        })

    # throttle to avoid hitting quota again
    time.sleep(15)

    if i % 10 == 0:
        print(f"Processed {i} reviews")

In [ ]:
OPENROUTER_API_KEY ="PVT"

In [28]:
df.head()
len(df)   # should be ~200

200

In [29]:
def call_llm(prompt):
    r = requests.post(
        "https://openrouter.ai/api/v1/chat/completions",
        headers={
            "Authorization": f"Bearer {OPENROUTER_API_KEY}",
            "Content-Type": "application/json",
            "Referer": "http://localhost",
            "X-Title": "Fynd AI Intern Assignment"
        },
        json={
            "model": "meta-llama/llama-3.1-8b-instruct",
            "messages": [
                {"role": "user", "content": prompt}
            ]
        }
    )

    res = r.json()
    return res["choices"][0]["message"]["content"]

In [30]:
with open("prompts/prompt_v1.txt") as f:
    base_prompt = f.read()

In [31]:
def parse_json(output):
    try:
        output = output.replace("```json", "").replace("```", "").strip()
        return json.loads(output)
    except:
        return None

In [34]:
def extract_prediction(data):
    if not isinstance(data, dict):
        return None, "INVALID_JSON"
    
    if "predicted_stars" not in data or "explanation" not in data:
        return None, "MISSING_FIELDS"
    
    return data["predicted_stars"], data["explanation"]

In [35]:
sample = df.iloc[0]["text"]

raw = call_llm(base_prompt + sample)
print(raw)

parse_json(raw)

{
  "predicted_stars": 4,
  "explanation": "Enjoyable food, friendly service, and lively atmosphere, with some drawbacks due to limited hours and location."
}

{'predicted_stars': 4,
 'explanation': 'Enjoyable food, friendly service, and lively atmosphere, with some drawbacks due to limited hours and location.'}

In [36]:
results = []

for i, row in tqdm(df.iterrows(), total=len(df)):
    prompt = base_prompt + row["text"]

    raw = call_llm(prompt)
    data = parse_json(raw)

    pred, expl = extract_prediction(data)

    results.append({
        "true": row["stars"],
        "predicted": pred,
        "explanation": expl
    })

100%|██████████| 200/200 [06:10<00:00,  1.85s/it]

In [59]:
results_df = pd.DataFrame(results)

valid = results_df.dropna()

accuracy_v1 = (valid["true"] == valid["predicted"]).mean()
json_valid_rate_v1 = len(valid) / len(results_df)

accuracy_v1, json_valid_rate_v1

(np.float64(0.65), 1.0)

In [39]:
results_df.to_csv("results_prompt_v1.csv", index=False)

In [40]:
with open("prompts/prompt_v2.txt") as f:
    prompt_v2 = f.read()

In [41]:
results_v2 = []

for i, row in tqdm(df.iterrows(), total=len(df)):
    prompt = prompt_v2 + row["text"]

    raw = call_llm(prompt)
    data = parse_json(raw)

    pred, expl = extract_prediction(data)

    results_v2.append({
        "true": row["stars"],
        "predicted": pred,
        "explanation": expl
    })

100%|██████████| 200/200 [05:36<00:00,  1.68s/it]

In [65]:
df_v2 = pd.DataFrame(results_v2)

valid_v2 = df_v2.dropna()

accuracy_v2 = (valid_v2["true"] == valid_v2["predicted"]).mean()
json_valid_rate_v2 = len(valid_v2) / len(df_v2)

accuracy_v2, json_valid_rate_v2

(np.float64(0.6231155778894473), 0.995)

In [43]:
df_v2.to_csv("results_prompt_v2.csv", index=False)

In [51]:
with open("prompts/prompt_v3.txt") as f:
    prompt_v3 = f.read()

In [52]:
results_v3 = []

for i, row in tqdm(df.iterrows(), total=len(df)):
    prompt = prompt_v3 + row["text"]

    raw = call_llm(prompt)
    data = parse_json(raw)

    pred, expl = extract_prediction(data)

    results_v3.append({
        "true": row["stars"],
        "predicted": pred,
        "explanation": expl
    })

100%|██████████| 200/200 [10:12<00:00,  3.06s/it]

In [66]:
df_v3 = pd.DataFrame(results_v3)

valid_v3 = df_v3.dropna()

accuracy_v3 = (valid_v3["true"] == valid_v3["predicted"]).mean()
json_valid_rate_v3 = len(valid_v3) / len(df_v3)

accuracy_v3, json_valid_rate_v3

(np.float64(0.577922077922078), 0.77)

In [47]:
df_v3.to_csv("results_prompt_v3.csv", index=False)

In [49]:
df_v3.head(10)

   true  predicted                                        explanation
0     4          4  enjoyed food and service, liked atmosphere and...
1     5          5      Exceptional cuisine highly praised by a guest
2     3          4  Generally positive experience with a small cav...
3     1          1  clearly bad experience, high repair cost, and ...
4     5          5              Clearly positive, enthusiastic review
5     4          4                  mostly positive with small issues
6     4          5  Mixed service but excellent food and accommoda...
7     4          5         Clearly positive with enthusiasm expressed
8     5          5            Clearly positive, strong recommendation
9     1          1  Very negative, multiple complaints, badly disa...

In [67]:
data = {
    "Prompt": [
        "Prompt 1 – Simple",
        "Prompt 2 – Few-shot",
        "Prompt 3 – Rubric",
        
    ],
    
    "Accuracy": [
        accuracy_v1,
        accuracy_v2,
        accuracy_v3,
        
    ],
    
    "JSON Validity": [
        json_valid_rate_v1,
        json_valid_rate_v2,
        json_valid_rate_v3,
        
    ]
}

comparison_df = pd.DataFrame(data)
comparison_df

                Prompt  Accuracy  JSON Validity
0    Prompt 1 – Simple  0.650000          1.000
1  Prompt 2 – Few-shot  0.623116          0.995
2    Prompt 3 – Rubric  0.577922          0.770

In [68]:
comparison_df.sort_values(by="Accuracy", ascending=False)

                Prompt  Accuracy  JSON Validity
0    Prompt 1 – Simple  0.650000          1.000
1  Prompt 2 – Few-shot  0.623116          0.995
2    Prompt 3 – Rubric  0.577922          0.770

In [69]:
comparison_df.to_csv("prompt_comparison.csv", index=False)